.builder-header {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: overline white;
    background-color: #282c34;
    color: white;
    position: relative;
}
.builder-header::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #282c34;
    left: 0;
    margin-top: -4px;
}

.builder-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 70px 100px;
    gap: 35px;
    overflow: auto;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-container>header {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 600;
}

.subSection-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section {
    border: 1px solid rgba(130, 139, 162, 0.212);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.subsection-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: start;
    gap: 40px;
    border-radius: 5px;
}
.Education .input-container:nth-last-child(1), .Employment .input-container:nth-last-child(1), .Courses .input-container:nth-last-child(1){
    grid-column: span 2;
}

.input-container,
.date-container,
.select-main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.input-container label,
.date-main-container label,
.select-main-container label {
    font-size: .8rem;
    color: rgb(130, 139, 162);
}

.input-container input,
.date-container input,
.select-container select {
    width: 100%;
    height: 48px;
    background-color: rgb(239, 242, 249);
    border: none;
    outline: none;
    padding: 16px;
    font-size: 1.1rem;
    border-radius: 3px;
    caret-color: rgb(26, 145, 240);
}

ul {
    margin: 0;
    padding: 0;
}

.info-container {
    color: rgb(130, 139, 162);
    font-size: .9rem;
}

.addInput {
    color: rgb(26, 145, 240);
    padding: 10px 25px;
    border-radius: 5px;
}

.addInput:hover {
    background-color: rgba(234, 246, 255, 0.5);
    cursor: pointer;
}

.textarea-input {
    background-color: rgb(239, 242, 249);
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    padding: 16px;
    font-size: 1.1rem;
}

.Summary .subsection-container {
    display: flex;
}

input:focus~span {
    transform: scaleX(1);
}

.input-container span {
    transition: 200ms ease-in-out;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2px;
    background-color: rgb(26, 145, 240);
    transform: scaleX(0);
}

.info-container:empty {
    display: none;
}

.date-container {
    flex-direction: row;
}

.date-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.date-container>* {
    width: 100%;
}

.select-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.select-container {
    width: 100%;
}

.subsection-info {
    width: 100%;
    display: flex;
    font-size: 1.3rem;
    height: 48px;
    justify-content: space-between;
    align-items: center;
}

.subsection-info:hover{
    color: rgb(26, 145, 240);
    cursor: pointer;
}

.Personal .section,
.Professional .section {
    border: none;
    padding: 0;
}


::-webkit-scrollbar {
    width: 10px;
    background: #282c34;
}

::-webkit-scrollbar-thumb {
    background: #00acee;
    box-shadow: 0 -100vh #00acee;
}

.hide{
    display: none;
}
input~.subsection-container{
    display: none;
}
.isSelected:checked~form{
    display: grid;
}
.select-container select{
    padding: 8px 16px;
}
input ~ header > img{
    transform: rotateZ(180deg);
}
.isSelected:checked ~ header > img{
    transform: rotateZ(0deg);
}

.delete-button{
    position: absolute;
    top: 34px;
    right: 0;
    margin-right: -10px;
    border-radius: 10px;
    background-color: white;
    border: 1px rgba(130, 139, 162, 0.212) solid;
    font-weight: 600;
    color: rgb(113, 113, 113);
    transition: 100ms linear;
}
.delete-button:hover{
    color: red;
    background-color: rgb(255, 199, 199) ;
    cursor: pointer;
}
.section{
    position: relative;
}